@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
}

body {
  margin: 0;
  padding: 0;
}

.hover-link:hover {
  cursor: pointer;
  color: rgb(223, 131, 146)
}

.hover-link:active {
  color: rgb(129, 161, 129);
}

.search-bar {
  height: 25px;
  gap: 2px;
}

/* Navigation Bar */
.nav-bar-container {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 0.4);
  background-color: #FFFFFF;
  position: fixed;
  top: 0;

  a {
    text-decoration: dnone;
  }

  ul {
    list-style: none;
  }

  .company-logo-img {
    height: 80px;
    width: 80px;
  }

  .nav-link-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-item {
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: 600;
  }


  .nav-link-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-link-items li {
    margin-right: 20px;
    cursor: pointer;
  }

}


.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-img {
  width: 2rem;
  height: 2rem;
  background-color: #a5b4c0;
  border-radius: 8px;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-img {
  width: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.main-landing-page {
  position: relative;
  top: 80px;
  background-image: url("./asset/fontview.png");
  background-repeat: no-repeat;
  background-size: cover;

  .text-section {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80dvh;
    justify-content: flex-end;
    padding: 4rem;
  }
}




#company-info h2 {
  text-align: center;
  background: url('your-background-image.jpg') center/cover no-repeat;
  color: rgb(26, 17, 17);
  font-size: 60px
}

#company-info p {
  text-align: center;
  background: url('your-background-image.jpg') center/cover no-repeat;
  color: rgb(73, 61, 61);
  font-size: 25px
}






/* Welcome to MediHost */
.welcome-to-medihost {
  background-color: #f2f2f2;
  align-items: center;
  padding: 56px;

  .welcome-container {
    margin: auto;
    max-width: 1260px;
    display: flex;
    flex-direction: column;

    .content-welcome {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 28px;

      .welcome-prefix {
        font-size: 18px;
        font-weight: 600;
        color: #159EEC;
        margin-bottom: 16px;
      }

      .welcome-heading {
        color: #04091B;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 16px;
      }

      .welcome-subheading {
        font-size: 16px;
        text-align: center;
        max-width: 900px;
      }
    }

    .welcome-buttons {
      padding: 60px;
      display: flex;
      justify-content: space-between;

      .card-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
      }

      .book-appointment,
      .know-doctors,
      .check-hospital {
        padding: 12px;
        border-radius: 4px;

        img {
          margin-left: 12px;
        }
      }

      .book-appointment {
        color: white;
        background-color: #B90F0F;
      }

      .know-doctors {
        background-color: #BFD2F8;
      }

      .check-hospital {
        color: white;
        background-color: #159EEC;
      }


      .check-hospital:hover {
        cursor: pointer;
        transform: scale(102%);
      }

      .book-appointment:hover {
        cursor: pointer;
        transform: scale(102%);
      }

      .know-doctors:hover {
        cursor: pointer;
        transform: scale(102%);
      }
    }
  }
}



/* We are best */
.we-are-best {
  padding: 56px;
  background-image: url("https://img.freepik.com/free-psd/interior-view-operating-room-generative-ai_587448-1946.jpg?size=626&ext=jpg&ga=GA1.1.1925958060.1702444450&semt=ais");
  background-repeat: no-repeat;
  background-size: cover;

  .best-container {
    margin: auto;
    max-width: 1260px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 40px;
    background-color: #f9f9f9;

    .best-content,
    .best-subheading,
    .best-heading {
      font-weight: 500;
      margin-bottom: 16px;
    }

    .best-heading {
      font-size: 30px;
    }

    .best-subheading {
      font-size: 22px;
    }

    .best-content {
      font-weight: 400;
      font-size: 18px;
    }
  }
}



/* About us section */
.about-us-section {
  margin: auto;
  max-width: 1260px;


  .about-us {
    display: flex;
    grid-gap: 20px;
    margin-top: 56px;
    margin-bottom: 260px;
  }

  .photo-part {
    display: flex;
    width: 50%;

    .male-doc {
      width: 280px;

    }

    .star-part {
      position: absolute;
      max-width: 100%;
      width: 440px;
    }

    .female-doc {
      height: 350px;
      position: relative;
      top: 180px;
      left: -100px;
    }
  }

  .content-part {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;

    .about-prefix {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 20px;


      .vertical-border {
        rotate: calc(90deg);
        width: 25px;
        height: 0px;
        border: 1px solid #0E8C3B;
      }

      .about-us-heading {
        color: #0E8C3B;
        font-size: 22px;
        font-weight: 600;
      }
    }

    .about-title {
      font-size: 36px;
      font-weight: 500;
      color: #04091B;
      margin-bottom: 18px;
    }

    .about-details {
      font-size: 18px;
      color: #04091B;
      margin-bottom: 30px;
    }

    .list-of-feature {
      display: flex;
      flex-direction: column;

      .row-one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 70%;
        margin-bottom: 12px;

        .col-one {
          display: flex;
          align-items: center;
        }

        .mark-tick {
          margin-right: 10px;
        }
      }
    }
  }
}

/* SEARCH HOSPITAL */
.search-section {
  background-color: #FFFFFF;
  margin-top: 16px;
  padding-bottom: 32px;

  .search-body {
    margin: auto;
    max-width: 1260px;

    .know-top-hospital,
    .exclusive-package,
    .top-hospital-in {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .hospital-content {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
      }
    }

    .know-top-hospital {
      .hospital-content {
        flex-direction: column;

        .prefix {
          color: #0E8C3B;
          font-weight: 600;
          font-size: 20px;
        }

        .heading {
          display: flex;
          align-items: center;

          .text {
            color: #252B42;
            font-weight: 600;
            font-size: 40px;
          }

          .dropdown {
            margin-left: 20px;
            margin-bottom: -5px;

            button {
              border: 1px solid #FF0000;
            }
          }
        }

        .suffix {
          max-width: 1000px;
          text-align: center;
          font-weight: 600;
          font-size: 16px;
          margin-top: 16px;
        }

      }
    }

    .top-hospital-in {
      margin-top: 56px;

      .hospital-content {
        justify-content: center;

        .prefix,
        .heading,
        .suffix {
          color: #252B42;
          font-weight: 600;
          font-size: 40px;
        }

        .heading {
          margin-left: 12px;
          color: red;
        }

        .suffix {
          margin-left: 12px;
        }
      }
    }

    .exclusive-package {
      margin-top: 56px;

      .hospital-content {
        justify-content: center;

        .prefix {
          font-weight: 600;
          font-size: 40px;
          color: #252B42;
        }

        .heading {
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          align-items: center;

          .top {
            color: #FF0000;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 10px;
          }

          .dropdown {
            button {
              border: 1px solid #FF0000;
            }
          }
        }
      }
    }
  }
}


/* CUSTOMER REVIEW */
.customer-review-slider {
  background-color: #F8F7F7;
  padding-top: 16px;
  padding-bottom: 32px;

  .cutomer-review-body {
    margin: auto;
    height: 500px;
    max-width: 1260px;

    .section-header {
      margin-bottom: 50px;
    }
  }

  .customer-card-section {
    height: 100%;

    .card-row {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .review-card {
        border-radius: 12px;
        height: 250px;
        padding: 10px;
        background-color: white;
        border: 1px solid #FFFFFF;
        display: flex;
        grid-gap: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .cust-image {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-color: #0E8C3B;
          margin-bottom: 10px;
        }

        .customer-name {
          font-weight: 600;
          font-size: 16px;
        }

        .rating {
          color: #0E8C3B;
        }
      }
    }

  }
}

/* BLOG */
.blog-card {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.blog-card a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
.blog-card h2 {
  margin: 0 0 18px 0;
  font-size: 1.9rem;

  color: var(--title-color);
  transition: color 0.3s ease-out;
}

.blog-card img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

.blog-card a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

.blog-card a:focus {
  outline: 1px dotted #28666e;
}

.blog-card a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
.blog-card:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.articles {
  margin: auto;
  display: flex;

  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }

  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }

  .article-body {
    padding-left: 0;
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.blog-container {
  background-color: #F8F7F7;

  .blog-body {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1260px;
    padding-top: 16px;
    padding-bottom: 32px;

  }
}





/* Footer style */
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #111541;

  width: 100%;

  .footer-menu-row {
    color: #FFFFFF;
    margin: 16px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .line-separator {
    border: 1px solid #737373;
  }

  .footer-copyright-row {
    color: #737373;
    height: 44px;
    display: flex;
    align-items: center;
    margin: 16px 32px;
    justify-content: space-between;

    img {
      margin: 0 10px;
    }

    img:hover {
      cursor: pointer;
    }
  }
}

/* COMMON ELEMENTS */
.check-more-parent,
.connect-with-parent {
  margin-top: 24px;
  display: flex;
  justify-content: end;
}

.connect-with-btn,
.check-more-btn {
  padding: 10px 20px;
  background-color: #0E8C3B;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.check-more-btn:hover {
  background-color: #0C642B;
}

.connect-with-btn {
  background-color: #FF0000;
}

.connect-with-btn:hover {
  background-color: #CF1010;
}

.section-header {
  margin-bottom: 24px;

  .prefix {
    color: #0E8C3B;
    font-weight: 600;
    font-size: 20px;
  }

  .heading {
    margin-top: 10px;
    color: #252B42;
    font-weight: 600;
    font-size: 40px;
  }
}

.hospital-card {
  display: flex;
  justify-content: space-between;

  .hospital-card-body {
    padding: 20px;
    width: 238px;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    box-shadow: 0 3px 6px rgb(0 0 0 / 0.1);

    .hospital-card-img {
      margin-bottom: 20px;
      border-radius: 4px;
    }

    .hospital-card-title {
      color: #252B42;
      font-size: 20px;
      font-weight: 600;
    }

    .hospital-border {
      margin: 10px 0;
      border: 1px solid #5FA0D8;
      width: 70%;
    }

    .hospital-address {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .hospital-card-body:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgb(0 0 0 / 0.4);
    transition: 0.2s;
    transform: scale(102%);
  }
}